GITHUB_APP_ID=
GITHUB_INSTALLATION_ID=
GITHUB_OWNER="Your username or organization"
GITHUB_REPO="Your repository name"
DOWNLOAD_FOLDER="The folder where the file will be downloaded"
PORT="The port where the server will run"
ASSET_NAME="The name of the asset to be downloaded"
OUTPUT_FILE_NAME="The name of the output file that the asset will be saved as"